<%- include("./partials/navbar") %>
<html>
    <head>
        <title>Reviews</title>
    </head>
    <body>
        <h3>All Your Reviews</h3>
            
        <% if (reviews.length === 0) { %>
            <!-- Message when no reviews are given -->
            <p>No Reviews yet.</p>
        <% } else { %>
            <!-- loop to render each blog post -->
            <% reviews.forEach(review => { %>
                <p><%= review.movie.title %></p>
                <img src="<%= review.movie.image %>" style="width:160px; border-radius: 20px;">
                <strong><p>Rating:</strong> <%= review.rating %>/5</p>
                <strong><p>Comment:</strong> <%= review.comment %></p>
                --------------------------------------------------------<br>
            <% }); %>
        <% } %>
    </body>
    </html>





