<%- include("./partials/navbar") %>
<h1>My Profile</h1>

<p>Username: <%= user.username %></p>
<p>Movies in Watchlist: <%= user.watchlist.length %></p>
<p>Recently Viewed:</p>
<div style="display:flex; flex-wrap:wrap; gap:10px;">
    <% recentlyMovies.forEach(movie => { %>
        <div class="movie-card" style="width:120px; margin:10px; text-align:center">
            <a href="/movie/<%= movie._id %>">
                <img src="<%= movie.image %>" style="width:140px; object-fit:cover; border-radius:15px;"><br>
            </a>
            <span class="movie-title"><%= movie.title %></span>
        </div>
    <% }) %>
</div>
<p>Joined at: <%=user.createdAt%></p>