<%- include("./partials/navbar") %>
<h1>My Profile</h1>

<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>Joined at:</strong> <%=user.createdAt%></p>
<p><strong>Movies in Watchlist:</strong> <%= user.watchlist.length %></p>

<p><strong>Bio:</strong></p>
<% if (!user.bio){ %>
    <form action="/profile/bio" method="POST">
        <textarea name="bio" placeholder="Write something about yourself..."><%= user.bio %></textarea><br><br>
        <button type="submit">Save Bio</button>
    </form>
<% }else{ %>

    <!-- display user current bio -->
    <p id="bioText"><%=user.bio%></p>
    
    <button type="submit" onclick="showEdit()" id="editButton">Edit Bio</button>
    
    <form id="bioForm" method="post" action="/profile/bio/edit" style="display: none;">
        <textarea name="bio"><%= user.bio %></textarea><br><br>
        
        <!-- save button -->
        <button type="submit">Save</button>

        <!-- cancel button -->
        <button type="button" onclick="hideEdit()">Cancel</button>
    </form>
<% } %>

<script>
    // show the edit bio form when user wanna edit their bio
    function showEdit(){
        document.getElementById("bioText").style.display = "none"
        document.getElementById("bioForm").style.display = "block"
        document.getElementById("editButton").style.display = "none"
    }

    function hideEdit(){
        document.getElementById("bioText").style.display = "block"
        document.getElementById("bioForm").style.display = "none"
        document.getElementById("editButton").style.display = "block"
    }
</script>

<p><strong>Recently Viewed:</strong></p>
<div style="display:flex; flex-wrap:wrap; gap:10px;">
    <% recentlyMovies.forEach(movie => { %>
        <div class="movie-card" style="width:120px; margin:10px; text-align:center">
            <a href="/movie/<%= movie._id %>">
                <img src="<%= movie.image %>" style="width:140px; object-fit:cover; border-radius:15px;"><br>
            </a>
            <span class="movie-title"><%= movie.title %></span>
        </div>
    <% }) %>
</div>