<!-- movie details (one movie only), showing rating, review, comments...etc -->
<!DOCTYPE html>
<html>
    <%- include("../partials/navbar") %>
    <div>
        <h1><%= ind_movie.title %></h1>
        <img src="<%= ind_movie.image %>" style="width:160px; border-radius: 20px;" >

        <p>Overview: <%= ind_movie.description %></p>
        <p>Genre: <%= ind_movie.genre %></p>
        <p>Release Year: <%= ind_movie.releaseYear %></p>
        <p>Average Rating:</p>


    </div>
    <!--  Add to watchlist button, also check if it's in watchlist alr-->

    <% if (isInWatchlist) { %>
        <button disabled>Already in Watchlist</button>

        <form action="/watchlist/remove/<%= ind_movie._id %>" method="POST">
            <button>Remove from Watchlist</button>
        </form>

    <% }else{ %>
        <form action="/watchlist/add/<%= ind_movie._id %>" method="POST">
            <button>Add to Watchlist</button>
        </form>
    <%}%>


    <!-- add mark as watched button and check if it's marked as watched or not -->
    <% if (isInWatchedMovies) { %>
        <button disabled>Already Marked as Watched</button>

        <form action="/watched/remove/<%= ind_movie._id %>" method="POST">
            <button>Unmark Movie as Watched</button>
        </form>

    <% }else{ %>
        <form action="/watched/add/<%= ind_movie._id %>" method="POST">
            <button>Mark as Watched</button>
        </form>
    <%}%>


    <!-- add review button -->
    <button id="openreviewpopup"> Write A Review</button>
    <br>

    <div id="reviewstuff" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);">
        <div style="background:white; padding:20px; margin:100px auto; width:300px;">
            
            <h3>Leaving a review for <label><%= ind_movie.title %></label>:  </h3>

            <form action="/myReviews" method="post">
            <!--Input for the review title-->
            <input type="hidden" name="movie" value="<%= ind_movie._id %>">
                <input type="hidden" name="movieName" value="<%= ind_movie.title %>">
            <label>Rating:</label><br>
            <input type="number" name="rating" min="1" max="5"> 
            <br> 

            <label>Content:</label><br>
            <textarea name="comment" rows="5" cols="30"></textarea>
            
            <br><br>

            <!--Submit button to post review-->
            <button type="submit">Post</button>
            <button type="button" id="closepopupbutton">Cancel</button>
        </form>
        </div>
    </div>
    
    <script>
        const openPopupButton = document.getElementById("openreviewpopup");
        const closePopupButton = document.getElementById("closepopupbutton");
        const reviewstuff = document.getElementById("reviewstuff");

        openPopupButton.addEventListener("click", () => {
            reviewstuff.style.display = "block";
        });

        closePopupButton.addEventListener("click", () => {
            reviewstuff.style.display = "none";
        });
    </script>

    <br>
    <a href="/movie"> Back</a>

    <h3>Reviews/Ratings:</h3>
            
        <% if (reviews.length === 0) { %>
            <!-- Message when no reviews are given -->
            <p>No Reviews yet.</p>
        <% } else { %>
            <!-- loop to render each blog post -->
            <% reviews.forEach(review => { %>
                <p>Username: <%= review.username %></p>
                <p>Rating: <%= review.rating %>/5</p>
                <p>Comment: <%= review.comment %></p>
                --------------------------------------------------------<br>
            <% }); %>
        <% } %>

</html>

