<!-- movie details (one movie only), showing rating, review, comments...etc -->
<!DOCTYPE html>
<html>
    <%- include("../partials/navbar") %>
    <div>
        <h1><%= ind_movie.title %></h1>
        <img src="<%= ind_movie.image %>" style="width:160px; border-radius: 20px;" >

        <p>Overview: <%= ind_movie.description %></p>
        <p>Genre: <%= ind_movie.genre %></p>
        <p>Release Year: <%= ind_movie.releaseYear %></p>
    </div>
    <!--  Add to watchlist button -->
    <form action="/watchlist/add/<%= ind_movie._id %>" method="POST">
        <button>Add to Watchlist</button>
    </form>
    
    <!-- Add A Review -->
    <br> 
    <form action="/myReviews/" method="POST">
        <button>Write A Review</button>
    </form>
    <br>

    <a href="/movie"> Back</a>

</html>