<!-- all the movies listed in this page -->
<!DOCTYPE html>
<%- include("../partials/navbar") %>
<html>
    <body>
        <h1>Browse Movie Options</h1>

        <input type="text" id="searchBar" placeholder="Search movies..." onkeyup="filterMovies()">

        <!-- filtering movie by genre -->
        <br><br>
        <form method="GET" action="/movie">
            <!-- onchange is when user select something the form auto submit -->
            Sort by genre: <select name="genre" onchange="this.form.submit()">
                <option value="">All Genres</option>


                <% genres.forEach(g => { %>
                    <option value="<%=g%>"
                        <%=selectedGenre === g? "selected": ""%>>
                        <%=g%>
                    </option>
                <%}); %>
            </select>
        </form>

        <div style="display:flex; flex-wrap:wrap;">
            <% movies.forEach(movie => { %>
                <div class="movie-card" style="width:150px; margin:10px; text-align:center">
                    <a href="/movie/<%= movie._id %>">
                        <img src="<%= movie.image %>" style="width:160px; border-radius: 20px;"><br>
                    </a>
                    <span class="movie-title"><%= movie.title %></span>
                </div>
            <% }); %>
        </div>

        <script>
        function filterMovies() {
            const query = document.getElementById("searchBar").value.toLowerCase();
            const movies = document.querySelectorAll(".movie-card");
            movies.forEach(movie => {
                const title = movie.querySelector(".movie-title").textContent.toLowerCase();
                movie.style.display = title.includes(query) ? "block" : "none";
            });
        }
        </script>

    </body>
</html>