<!-- movie details (one movie only), showing rating, review, comments...etc -->
<!DOCTYPE html>
<html>

<h1><%= ind_movie.title %></h1>
<img src="<%= ind_movie.image %>" style="width:160px; border-radius: 20px;" >

<p><%= ind_movie.description %></p>
<p><%= ind_movie.genre %></p>
<p><%= ind_movie.releaseYear %></p>

<a href="/movie"> Back</a>
</html>