<!-- all the movies listed in this page -->
<!DOCTYPE html>
<html>
    <body>
        <%- include("../partials/navbar") %>
        <h1>Browse Movies</h1>

    <!-- add movie button for admin -->
    <% if (isAdmin) { %>
        <a href="/movie/add">
            <button type="button">Add Movie</button>
        </a>
    <% } %>

    <!-- searching movie -->
    <div style="display:flex; 
    justify-content:center;">
        <input  type="text" 
                id="searchBar" 
                placeholder="Search movies..." 
                onkeyup="filterMovies()" 
                style="width: 400px; padding: 12px; font-size: 16px; border-radius:10px">
    </div>
    <script>
            function filterMovies() {
                const query = document.getElementById("searchBar").value.toLowerCase();
                const movies = document.querySelectorAll(".movie-card");
                movies.forEach(movie => {
                    const title = movie.querySelector(".movie-title").textContent.toLowerCase();
                    movie.style.display = title.includes(query) ? "block" : "none";
                });
            }
    </script>

        <!-- filtering movie by genre -->
        <br><br>
        <form method="GET" action="/movie">
            <!-- onchange is when user select something the form auto submit -->
            Sort movie by genre: <select name="genre" onchange="this.form.submit()">
                <option value="">All Genres</option>
                <% genres.forEach(g => { %>
                    <option value="<%=g%>"
                        <%=selectedGenre === g? "selected": ""%>>
                        <%=g%>
                    </option>
                <%}); %>
            </select>
        </form>

        <div style="display:flex; flex-wrap:wrap;">
            <% movies.forEach(movie => { %>

                <div class="movie-card" style="width:150px; margin:10px; text-align:center">

                    <div style="position: relative; display: inline-block;">
                        <a href="/movie/<%= movie._id %>">
                            <img src="<%= movie.image %>" 
                                style="width:160px; border-radius: 20px; margin-bottom: 6px;">
                        </a>
                
                        <% if (watchedMoviesList.includes(movie._id.toString())) { %>
                            <span style="
                                position: absolute;
                                top: 8px;
                                right: 8px;
                                background-color: rgba(0, 0, 0, 0.9);
                                color: white;
                                padding: 4px 8px;
                                border-radius: 12px;
                                font-size: 12px;
                                font-weight: bold;
                            ">
                                ✔
                            </span>
                        <% } %>
                    </div>
                
                    <br>
                    <span class="movie-title"><%= movie.title %></span>
                    
                    <% if (isAdmin) { %>
                        <br>
                        <a href="/movie/edit/<%= movie._id %>">
                            <button type="button">Edit</button>
                        </a>

                        <form action="/movie/delete/<%= movie._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this movie?')">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %>
                </div>
            <% }) %>
        </div>

    <style>
        .movie-card img {
            transition: transform 0.3s ease; /* smooth animation */
        }
        
        .movie-card img:hover {
            transform: scale(1.1); /* zoom in */
        }
        </style>

    </body>
</html>